extends layout

block content
	ul
		li Поздравляю!!!
		li #{user.forename} #{user.lastname} 
		li ты был избранн!
		li в процессе
		li объявления
		li набора гостей
		li на торжество года
		li
			div
				h1 где
				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Reichweindamm+13,+Berlin&amp;aq=0&amp;oq=reichwe&amp;sll=51.175806,10.454119&amp;sspn=11.028548,25.026855&amp;ie=UTF8&amp;hq=&amp;hnear=Reichweindamm+13,+13627+Berlin&amp;t=m&amp;z=14&amp;ll=52.53595,13.30096&amp;output=embed"></iframe><br /><small><a href="https://maps.google.de/maps?f=q&amp;source=embed&amp;hl=de&amp;geocode=&amp;q=Reichweindamm+13,+Berlin&amp;aq=0&amp;oq=reichwe&amp;sll=51.175806,10.454119&amp;sspn=11.028548,25.026855&amp;ie=UTF8&amp;hq=&amp;hnear=Reichweindamm+13,+13627+Berlin&amp;t=m&amp;z=14&amp;ll=52.53595,13.30096" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
		li
			h1 когда

		li в обязательном порядке
		li при себе иметь
		li хорошее настроение
		li салаты и спритное
		li гарантированно 